section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.movies__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 80rem;
}
