.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25.9375rem;
  border-radius: 0.75rem;
  background: #f6f6f6;
  height: 22.625rem;
  overflow: hidden;
}

.card__body {
  display: flex;
  flex-grow: 1;
  column-gap: 0.25rem;
}

.card__image {
  width: 50%;
  display: flex;
}

.cardPoster {
  width: 100%;
  height: 100%;
  max-height:  320.667px;
  object-fit: cover;
  object-position: center;
}

.card__data {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.card__data--main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.card__data--footer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  color: #262626;
  font-family: Koulen;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 99.365%; /* 0.99363rem */
}

p {
  color: #262626;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120.703%; /* 1.05613rem */
  letter-spacing: -0.02625rem;
}

.footer__title {
  color: #1e1e1e;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120.703%; /* 1.05613rem */
  letter-spacing: -0.02625rem;
}

.tags,
.genre {
  text-transform: capitalize;
}

.card__action {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #1e1e1e;
}

.card__action--link {
  color: #f6f6f6;
  font-family: Koulen;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
